.sort-area {
    height: 25%;
    width: 100%;
	position: relative;
}

.arr-area{
	width:100%;
	position: absolute;
	top: 280px;
}

.card {
    margin-top: 120px;
    background-size: cover;
    display: inline-block;
    height: 160px;
    width: 120px;
    position: relative;
    float: right;
    /* Mozilla */
    -moz-border-radius: 15px;
    /* Chrome */
    -webkit-border-radius: 15px;
    /* The rest */
    border-radius: 15px;
}

.overlay {

    opacity: 0.5;
    height: 160px;
    width: 120px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    height: 300px;
    background-color: gray;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.fTab {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1em;
    background-color: gray;
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
}
.fTab.active {
    bottom: 300px;
}
.fTab.active + footer {
    max-height: 300px;
}
.droppable {
    clear:both;
    /* background: #98bf21; */
    background-image: url(http://openclipart.org/people/nicubunu/nicubunu_Card_backs_grid_blue.svg);
    background-size: cover;
    display: inline-block;
    height: 160px;
    width: 120px;
    position:fixed;
    top:325px;
    right:10px;
    float: right;
    /* Mozilla */
    -moz-border-radius: 15px;
    /* Chrome */
    -webkit-border-radius: 15px;
    /* The rest */
    border-radius: 15px;
}
.droppable.active {
    background: #FF00FF;
}
.droppable.hovered {
    background: #CCF;
}
.dropped {
    background: #f52;
}
.target-message{
    clear:both;
    display: inline-block;
    position:absolute;
    top:51%;
    right:60%;
    float: right;
    /* Mozilla */
    -moz-border-radius: 15px;
    /* Chrome */
    -webkit-border-radius: 15px;
    /* The rest */
    border-radius: 15px;
}
.min-text {
    clear:both;
    display: inline-block;
    position:fixed;
    top:500px;
    right:35px;
    float: right;
    /* Mozilla */
    -moz-border-radius: 15px;
    /* Chrome */
    -webkit-border-radius: 15px;
    /* The rest */
    border-radius: 15px;
}
/* popover CSS starts here */
#resetButton {
    position:fixed;
    top:200px;
    right:125px;
}
#hintButton {
    position:fixed;
    top:200px;
    right:125px;
}
.popover {
    max-width: 800px;
}
#stats {
    clear:both;
    display: inline-block;
    position:fixed;
    top:395px;
    left:35px;
    float: left;
    /* Mozilla */
    -moz-border-radius: 15px;
    /* Chrome */
    -webkit-border-radius: 15px;
    /* The rest */
    border-radius: 15px;
}

#heap {
	position:fixed;
    top:290px;
	left: 25%;
}

.node {
	border-radius: 50%;
	width: 11%;
	height: 18%;
	line-height: 80px;
	text-align: center;
}

#node0 {
	position: absolute;
	top: -4%;
	left: 48%;
}

#node1 {
	position: absolute;
	top: 22.5%;
	left: 20.5%;
}

#node2 {
	position: absolute;
	top: 22.5%;
	left: 75.25%;
}

#node3 {
	position: absolute;
	top: 49.5%;
	left: 7%;
}

#node4 {
	position: absolute;
	top: 49.5%;
	left: 34.25%;
}

#node5 {
	position: absolute;
	top: 49.5%;
	left: 61.5%;
}

#node6 {
	position: absolute;
	top: 49.5%;
	left: 89%;
}

#node7 {
	position: absolute;
	top: 76.75%;
	left: 0%;
}

#node8 {
	position: absolute;
	top: 76.75%;
	left: 13.75%;
}

#node9 {
	position: absolute;
	top: 76.75%;
	left: 27.5%;
}

#node10 {
	position: absolute;
	top: 76.75%;
	left: 41%;
}

#node11 {
	position: absolute;
	top: 76.75%;
	left: 54.75%;
}

#node12 {
	position: absolute;
	top: 76.75%;
	left: 68.5%;
}

.circle {
	background-image:url("../images/circle.png");
}

.alert {
  color:white;
  background-color: #57a957;
  background-repeat: repeat-x;
  
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

 .frame {
    overflow: hidden;
}