<!DOCTYPE html>
<html>
<head>
    <title>Sorting Tool</title>

    <!-- Javascript -->
    <!-- JQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <!-- Our Code -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/card_functions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/finish_functions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/maxCard_functions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popover_functions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectionSort_functions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stats_functions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectionSort_skeleton.js') }}"></script>
    

    <!-- CSS -->
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body oncontextmenu="return false;">
    <!-- Menu -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button> 
                <a class="navbar-brand" href="#">Sorting</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Automatic</a></li>
                    <li><a href="#">Assisted</a></li>
                    <li class="active"><a href="#">Manual</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Algorithm<b class="caret"></b></a>
                        <ul class="dropdown-menu">
							<li><a href="selectionSort">Selection Sort</a></li>
                            <li><a href="insertionSort">Insertion Sort</a></li>
                            <li><a href="#">Merge Sort</a></li></li>
                            <li><a href="#">Heap Sort</a></li>
							<li><a href="binarySearch">Binary Search</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenges<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Difficult</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Expert</a></li>
                        </ul>
                    </li>
                </ul>
                <ul></ul> <!-- why is this here? -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Module</a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Tutorial</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
    </nav>
    
   <!-- Congratulations Alert -->
    <div class="alert" style="display: none"> 
        <a class="close" data-hide="alert">x</a>  
        <strong>Congratulations!</strong> Everything is sorted correctly.</div>
    
    <!-- Sorting Area -->
    <div class="sort-area"></div>
    <br>
    <br>
    <div class="droppable" id="drop-id"></div>
    <div class="min-text">Maximum</div>
    <!-- Stats -->
    <form id="stats" action="{{ url_for('add_stat', older_path = request.path.split('/')[1 ]) }}" method=post>
		<label style="font-weight:normal;">Memory:
            <input type="text" id="mem" name="mem" readonly></input>
        </label>
        <br>
        <label style="font-weight:normal;">Operations:
            <input type="text" id="ops" name="ops" readonly></input>
        </label>
        <br> <input id="submitStats" type="submit" class="btn btn-info" value="Submit">
    </form>

    <!-- Hint Button -->
    <!-- linked to the div below by a few lines of javascript at the very beginning of our code -->
    <!-- messy code due to syntax highlighting -->
    <button id="hintButton" type="button" class="btn btn-info" rel="popover" data-placement="left" data-title="Selection Sort">Hints</button>
	
    <div id="popover_content_wrapper" style="display: none">

<!-- HTML generated using hilite.me --><div style="background: #f0f3f3; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #006699; font-weight: bold">function</span> selectionSort(items) {
    <span style="color: #006699; font-weight: bold">var</span> len     <span style="color: #555555">=</span> items.length,     <span style="color: #0099FF; font-style: italic">// number of items in the array</span>
        max_index,                  <span style="color: #0099FF; font-style: italic">// the location of the highest value seen so far</span>
		temp, 						<span style="color: #0099FF; font-style: italic">// used for swapping purposes</span>
        i,                          <span style="color: #0099FF; font-style: italic">// index for the outer loop</span>
        j;                          <span style="color: #0099FF; font-style: italic">// index for the inner loop</span>

	<span style="color: #0099FF; font-style: italic">// All elements from 0 to i-1 will be sorted</span>
	<span style="color: #006699; font-weight: bold">for</span> (i<span style="color: #555555">=</span><span style="color: #FF6600">0</span>; i <span style="color: #555555">&lt;</span> len; i<span style="color: #555555">++</span>) {
		max_index <span style="color: #555555">=</span> i;
		
		<span style="color: #0099FF; font-style: italic">// For all other elements, let&#39;s identify the largest value.</span>
		<span style="color: #006699; font-weight: bold">for</span> (j <span style="color: #555555">=</span> i; j <span style="color: #555555">&lt;</span> len; j<span style="color: #555555">++</span>) {
			
			<span style="color: #006699; font-weight: bold">if</span> (max_value <span style="color: #555555">&lt;</span> items[j]) {
				max_index <span style="color: #555555">=</span> j
			}
			
			<span style="color: #0099FF; font-style: italic">// We have found the largest element in the sublist.</span>
			<span style="color: #0099FF; font-style: italic">// Swap it into the appropriate location:</span>
			temp <span style="color: #555555">=</span> items[i];
			items[i] <span style="color: #555555">=</span> items[max_index];
			items[max_index] <span style="color: #555555">=</span> temp;
		}
	}
	
	<span style="color: #006699; font-weight: bold">return</span> items;
}
</pre></div>


    </div>
</body>

